@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* * {
  outline: 1px solid red;
} */

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #DFEFF7;
    display: grid;
    place-items: center;
    height: 100vh;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    background-color: white;
}

.calculator-panel {
  padding: 20px;
}

.top .title {
  font-size: 1.8rem;
  color: #133040;
}

h2 {
  color: hsl(200, 24%, 40%);
  font-size: 1rem;
  font-weight: 600;
}


.clear {
  all: unset;
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  color: hsl(200, 24%, 40%);
  margin-left: auto;
  font-size: 1rem;
  font-weight: 500;
}

.clear:hover {
  cursor: pointer;
}

.input-group input {
  border: none;
  outline: none;
  flex-grow: 1;
}

.input-group {
  outline: 1px solid hsl(200, 24%, 40%);
  border-radius: 2px;
  display: flex;
}

.input-group label {
  background-color: #E4F3FC;
  color: hsl(200, 24%, 40%);
  padding: 8px 12px;
  font-weight: 700;
  font-size: 0.9rem;
}

.option1, .option2 {
  outline: 1px solid hsl(200, 24%, 40%);
  color: #133040;
  border-radius: 3px;
  padding: 8px 0 8px 10px;
  font-weight: 700;
  font-size: 0.9rem;
  margin: 10px 0;
}

.option1 input, .option2 input {
  margin: 0 8px;
}

button {
  all: unset;
  display: flex;
  gap: 5px;
  color: #133040;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: 700;
  background-color: #D9DB30;
}

.results-panel {
    background-color: #133040;
    color: white;
}


@media (min-width: 900px) {
    .calculator-container {
        flex-direction: row;
        border-radius: 20px;
        max-width: 800px;
        box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
    }

    .calculator-panel {
        min-width: 0;
        flex: 1;
        padding: 25px;
        border-radius: 20px 0 0 20px;
    }
    
    .top {
      display: flex;
      margin-bottom: 20px;
    }

    .top .title {
      font-size: 1.2rem;
    }

    .clear {
      font-size: 0.8rem;
    }

    h2 {
      font-size: 0.8rem;
    }

    .amount-container {
      margin: 20px 0;
    }

    .term-rate-container {
      margin: 20px 0;
      display: flex;
    }

    .calculator-panel h2 {
      margin-bottom: 10px;
    }

    #submitBtn {
      margin-top: 40px;
      font-weight: 700;
    }

    .rate {
      min-width: 0;
      flex: 1;
    }

    .term {
      min-width: 0;
      flex: 1;
      margin-right: 10px;
    }

    .term input, .rate input {
      min-width: 0;
    } 



    input[type='radio'] {
      transform: scale(1.2);
    }

    
    .results-panel {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      padding: 30px;
      border-radius: 0 20px 20px 50px;
    }

    .empty {
      display: flex;
      gap: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .empty img {
      width: 150px;
    }

    .empty .title {
      font-size: 1.3rem;
      font-weight: 600
    }

    .empty .instructions {
      font-size: 0.8rem;
      font-weight: 500;
      text-align: center;
      color: hsl(203, 41%, 72%);
    }
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  *:not(dialog) {
    margin: 0;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }